@page "/"

<h1>Welcome to SudokuBlaze!</h1>

<p>
    This is a simple sudoku app made in Maui (Blazor). <br />
    My main goal was to practice the data binding common in these style of frameworks :> <br />
    Anyway, press <a href="sudoku">Play!</a> to start, and have fun!
</p>

<h2>Credits:</h2>
<ul>
    <li><a href="https://sudoku-api.vercel.app">Dosuku:</a> For the api supplying the initial games and solutions</li>
</ul>

